*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    background-color: rgb(151, 3, 3);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul{
    list-style: none;
    display: flex;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

ul li a:hover{
    color: rgb(9, 218, 9);
}